* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body {
  background-color: rgb(10, 16, 30);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* header and navbar section*/
header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(10, 16, 30,0.6);
}
.head{
  display: flex;
  justify-content: space-between;
}
.mask-icon{
  padding: 10px 30px;
  font-size: xx-large;
  &:hover{
    color: red;
  }
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
  gap: 10%;
  margin-right: 20px;
  
  padding: 20px 0;
  font-size: large;
 
}
.menu-btn {
  display: none;
}

.menu-btn i {
  font-size: 30px;
}
.nav-links {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
 
  &:hover {
    color: #fbc747;
  }
}

@media (max-width: 990px) {
  nav {
    display: none;
    text-align: left;
    position: absolute;
    top: 40px;
    transition: all 0.5s;
    line-height: 30px;
    width: 100%;
    margin: 0;
  }
  nav ul {
    flex-direction: column;
    background-color:#0a101e;
    margin: 0;
    width: 100%;
    
      }
  .nav-show {
    display: flex;
   
  }
  .menu-btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
}
/* Section 1 */

#sec-1{
  height: 100vh;
  padding-top: 5%;
}
.content-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  margin-top: 5%;
  margin-bottom: 100px;
}

.home-intro {
  line-height: 100px;
  padding: 3% 0 5% 10%;
}
.hello{
  font-size: 30px;
  color: #fbc747;
}

#myname{
  font-size: 120px;
  font-weight: bolder;
}
.web-dev{
  color: rgba(251, 244, 244,0.5);
  font-size: 40px;
}
#hire {
  color: #213769;
  background-color: #fbc747;
  border-radius: 20px;
  padding: 10px;
  margin: 4px 2px;
  display: inline-block;
  cursor: pointer;
  width: 35%;
  border: none;
  font-size: medium;
}
#hire:hover{
  box-shadow: 2px 4px 8px #fbc747;
transform: scaley(0.9);
}
#hire:active {
  scale: 0.9;
}
#photo {
  margin-left: 10%;
  margin-top: 0;
}
@media (max-width:1220px){
  .home-intro{
    padding-left: 0;
  }
  #photo{
    margin: 0;
  }
}
@media(max-width:990px){
  #photo {
    margin-left: 100px;
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
}
@media(max-width:580px){
.home-intro{
  padding: 0;
}
#myname{
  font-size: 100px;
}
.web-dev{
  font-size: 30px;
}
#sec-1{
  height: 50vh;
  margin-bottom: 30%;
}
}
/* Section-2 About section */

#sec-2{
  height: 100vh;
  padding: 80px 0;
}

.subhead-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2fr, 1fr));
  padding-top: 50px;
  margin: 0 auto;
}
#subheading {
  color: #fbc747;
  text-align: center;
}

#underline {
  margin-left: 44%;
  margin-right: 44%;
}
.ab {
width: 100vw;
display: flex;
flex-wrap: nowrap;
justify-content: center;
gap: 30%;
}
#about-1 { 
  margin: 19% 60%;
}


#content-about {
  width: 100%;
  margin-top: 0;
  padding-right: 20%;
  line-height: 50px;
  
}
#intro {
  padding-top: 20%;
  font-size: larger;
}
#field {
  padding-top: 2%;
  color: #fbc747;
  font-size: large;
}
#simple-about {
  padding-top: 2%;
  width: 100%;
  text-align: justify;
  line-height: 25px;
  
}
.list{
  list-style-type: none;
}
#bio-data {

  line-height: 50px;
  display: flex;
  gap: 2%;
}
.cv {
  transition: 0.5s;
  border-radius: 50px;
  border: none;
  background-color: #fbc747;
  cursor: pointer;
  height: 40px;
  width: 150px;
}
.cv:hover {
  box-shadow: 2px 4px 8px #fbc747;
  transform: scaley(0.9);
}
.cv:active {
  scale: 0.9;
}
@media(max-width:1200px){
  #about-1{
    margin:19% 20% ;
  }
  #content-about{
    line-height: 50px;
  }
  .ab{
    gap: 10%;
  }
}
@media(max-width:990px){
  #sec-2{
    height: fit-content;
  }
  #about-1 {
    padding-top: 10%;
    margin: 0 0;
    height: 100%;
    width: 100%;
  }
.ab{
  flex-wrap: wrap;
}

#intro{
  padding: 0;
}
#content-about{
  padding: 0 20% 0 27%;
}

}
@media(max-width:580px){
  #content-about{
    padding: 0 5%;
  }
  #about-1 {
    padding-top: 10%;
    margin: 0 0;
    height: 90%;
    width: 80%;
    padding-left: 20%;
  }

}

/*Sec-3 Skills section */

#sec-3{
  height: 100vh;
  padding: 80px 0;
}

.skill-work {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 0 70px;
}
.skill-head {
  font-size: 30px;
  padding-top: 10%;
}
.skill-para{
  line-height: 25px;
  text-align: justify;
  padding-right: 20%;
  padding-top: 5%;
  font-size: large;
  }
.progress {
  position: relative;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 40px;
}
.per {
  position: absolute;
  left: 187%;
}
.back {
  width: 100%;
  height: 7px;
  background-color: white;
}

.line {
  height: 7px;
  background-color: #fbc747;
  width: 600px;
}
.per-ui {
  position: absolute;
  left: 97%;
}
.back-ui {
  height: 7px;
  width: 600px;
  background-color: white;
}

.line-ui {
  height: 7px;
  background-color: #fbc747;
  width: 300px;
}
.js-per {
  margin-left: 115px;
}
.back-js {
  height: 7px;
  width: 600px;
  background-color: white;
}
.line-js {
  height: 7px;
  background-color: #fbc747;

  width: 200px;
}
@media(max-width:990px){
  #sec-3{
    margin-top: 35%;
    
  }
  .skill-work{
    flex-wrap: wrap;
  }
  .skill-parasec{
    text-align: center;
  }
  .skill-para{
    padding: 5% 5% 0 5%;
  }
}
@media(max-width:580px){
  #sec-3{
    margin-bottom: 40%;
  }
 .skill-work{
  margin: 0;
 }
 .pr{
  width: 100%;
  padding: 10% 5%;
 }
 .back{
  width: 100%;
 }
 .line{
  width: 200%;
 }
 .back-ui{
  width: 200%;
 }
 .line-ui{
  width: 50%;
 }
 .back-js{
  width: 200%;
 }
 .line-js{
  width: 30%;
 }
 .js-per{
  margin-left: 20%;
 }

}


/* Sec-3 Project section */
#sec-4{
  height: 100vh;
  padding: 80px 0;
}

.projects {  
  width: 80%;
  margin: 0 auto;
  overflow-x: scroll;
  scrollbar-color:#0a101e #0a101e ;
  display: flex;
 
 gap: 55px;
  align-items: center;
  margin-top: 15%; 
}
.projects:hover {
  scale: 1;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
#project-img {
  border: 1px solid #101724;
  border-radius: 5px;
  height: 250px;
  width: 350px;
  
}
#project-img:hover{
  scale: 1.1;
  transition: 0.5s;
  overflow: hidden;
}
#project-abt {
  margin-left: 80px;
  color: #fff;
}
#project-link {
  margin-left: 130px;
}
.admin{
  text-decoration: none;
  color: #fbc747;
  padding: 0 10px;
}
.date{
  padding: 0 10px;
  color: #fbc747;
}
.nk-post-date{
  color: rgba(232, 237, 247,0.6);
}
.post-info{
  padding: 10px 0;
}
.post-title a{
  color: white;
  text-decoration: none;
  font-size: larger;
  &:hover{
    color: #fbc747;
  }
}
.post-info{
  line-height: 35px;
}
@media(max-width:580px){
  #sec-4{
    height: 0vh;
    margin-bottom: 150%;
  }
  .projects{
    width: 100%;
    padding: 0 10%;
  }
  #projects-img{
    height: 200px;
    width: 300px;
  }

}
@media(max-width:280px){
  #sec-4{
    margin-top: 150%;
  }
}
@media(max-width:240px){
  #sec-4{
    margin-top: 500%;
  }
}

/* Sec-5 Contact section */
#sec-5{
  height: 100vh;
  padding: 80px 0;
}
#con-hello {
  margin-top: 5%;
 
  font-size: xx-large;
}

#equal {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}
#message {
 width: 100%;
 margin-left: 10%;
  margin-top: 1%;
  line-height: 80px;
  flex: 1 1 300px;
}


#infor {
  background-color: #101724;
  color: aliceblue;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size:medium;
}
#txt {
  height: 150px;
  width: 100%;
  color: aliceblue;
  background-color: #101724;
  border-radius: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}

.send-msg {
  color: #213769;
  background-color: #fbc747;
  border-radius: 20px;
  padding: 10px;
  margin: 4px 2px;
  display: inline-block;
  cursor: pointer;
  width: 120px;
  border: none;
  &:hover{
    box-shadow: 2px 4px 8px #fbc747;
    transform: scaley(0.9);
  }&:active{
    scale: 0.9;
  }
}
.con-info h2{
  font-size: xx-large;
  padding-bottom: 40px;
}
.con-info {
  flex: 1 1 300px;
  padding-right: 10%;
  margin-top: 5%;
}
.con-info p{
  text-align: justify;

}
.con-icon {
  display: flex;
  gap: 10%;
  padding: 10px 0;
}
.ita {
  display: flex;
  align-items: center;
  
}
.mail {
  margin: 20px 0px 20px 20px;
  line-height: 30px;
}
#fnt-sze {
  border: 1px solid #333333;
  padding: 10px;
  border-radius: 50%;
  font-size: x-large;
}
#fnt-sze:hover {
  border: 1px solid #fbc747;
  transition: 0.5s;
}

.social-icons .social-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 5px;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.295);
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #fff;
}

.social-icons .social-icon:hover {
  width: 180px;
  border: 1px solid #fbc747;
}

.social-icons .social-icon .icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 0;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}



.social-icons .social-icon .icon i {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 50px;
  transition: all 0.3s ease-out;
}

.social-icons .social-icon:hover .icon i {
  color: #fff;
}

.social-icons .social-icon span {
  font-size: 20px;
color: #fff;
  font-weight: 500;
  line-height: 50px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

@media(max-width:750px){
  #sec-5{
    height: 100vh;
    margin-top: 100%;
  }
  #message{
    padding: 0 5%;
    margin: 0;
  }
  .con-info{
    padding: 0 5%;
    
  }
}

/* Footer section */

footer{
  background-color: #081023;
}
footer p{
  text-align: center;
  padding: 30px;
}
@media(max-width:580px){
 footer{
  height: 40px;
 }
  footer p{
    margin-top: 100%;
  }
}